extends layout

block content
    script(src='/javascripts/resetpassword.js')
    script(type='text/javascript', src="/socket.io/socket.io.js")
    include ./topbar.jade
    #actionbar

    // Wrapper
    #wrapper.width960
        h2#createtitle #{lang.ResetPassword.ResetPassword}
        .area
            .addarea 
                .icon-addprojectarea
                p !{lang.Password}: 
                input#inputPassword.password(type='password', placeholder='#{lang.Password}')
                p !{lang.PasswordAgain}: 
                input#inputPasswordAgain.password(type='password', placeholder='#{lang.Password}')
                .information
                br
                input#inputToken(type='hidden', value='#{token}')
                input#inputUserID(type='hidden', value='#{userid}')
                button.submit#btnUpdatePassword !{lang.UserProfileUpdate}
                button.cancel#btnreset !{lang.Cancel}

    // WRAPPER

    #footer
        .icon-footer
        #usercount
    // footer
